<h1>Estamos en contacto</h1>

<h5> Si requiere mayor información sobre nuestros servicios y productos,
  no dude en contactarnos.
</h5>

<h5> Estaremos complacidos en ayudarte
</h5>
<br>
<div class="row">
  <div class="col-5">
    <form #contact="ngForm" (ngSubmit)="onSubmit(contact); contact.reset()" novalidate>
      <div class="form-group">
        <div class="col">
          <input type="text" name="nombre" ngModel required #nombre="ngModel" class="form-control" placeholder="Nombre*">
        </div>
      </div>
      <div class="form-group">
          <div class="col">
            <input type="text" name="apellidos" ngModel required #apellidos="ngModel" class="form-control" placeholder="Apellidos*">
          </div>
        </div>
      <div class="form-group">
        <div class="col">
          <input type="text" name="email" ngModel required #email="ngModel" class="form-control" placeholder="Email*">
        </div>
      </div>
      <div class="form-group">
        <div class="col">
          <input type="text" name="empresa" ngModel class="form-control" placeholder="Empresa*">
        </div>
      </div>
      <div class="form-group">
        <div class="col">
          <textarea class="form-control rounded-0" name="descripcion" ngModel rows="8" placeholder="Mensaje*"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col ml-4">
          <input id="newsfeed" type="checkbox" name="publicidad" ngModel class="form-check-input"  placeholder="Publicidad*">
          <label class="form-check-label" for="newsfeed">Recibir noticias</label>
        </div>
      </div>
      <div class="form-group row ">
        <div class="rm-2">
          <button class="lm-5" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-6">
    <div class="card border-dark  bg-dark mb-3 mt-2" style="max-width: 80rem;">
      <div class="card-body text-white">
        <h2 class="mt-4 ml-4 text-white">DIRECCIÓN:</h2>
        <h4 class="mt-4 ml-4 text-white">ORIZABA VERACRUZ</h4>
        <h2 class="mt-4 ml-4 text-white">TELÉFONO:</h2>
        <h4 class="mt-4 ml-4 text-white">+52 1 272 139 9256</h4>
        <h2 class="mt-4 ml-4 text-white">CORREO ELECTRÓNICO:</h2>
        <h4 class="mt-4 ml-4 text-white">ALDESER.LAT@GMAIL.COM</h4>

      </div>
    </div>
  </div>

</div>