<h1>Servicios</h1>

<div class="card-deck">
    <div class="card bg-dark mb-3 mt-5" style="max-width: 18rem;">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalBeneficios">Beneficios</button>
    </div>

    <div class="card bg-dark mb-3 mt-5" style="max-width: 18rem;">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal">Socios</button>
    </div>

     <div class="card bg-dark mb-3 mt-5" style="max-width: 18rem;">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal">Revistas</button>
    </div>

     <div class="card bg-dark mb-3 mt-5" style="max-width: 18rem;">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#membresia">Membresias</button>
    </div>

</div> 

<!-- Modal Beneficios-->
<div class="modal fade" id="modalBeneficios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Beneficios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class ="container">
            <h6> Estudiantes:</h6>
             <ul> 
                 <li>Descuentos en conferencias, cursos y otros eventos académicos.</li>
                 <li>Vinculación con expertos, académicos e investigadores reconocidos en el área.</li>
             </ul> 
             <h6>Profesionistas, docentes e investigadores:</h6>
              <ul> 
                 <li>Publicación de productos de investigación.</li>
                 <li>Foros para exponer resultados de iniciativas y proyectos.</li>
                 <li>Cursos de actualización profesional.</li>
                 <li>Vinculación con empresas.</li>
                 <li>Vinculación con universidades, centros de investigación e investigadores reconocidos.</li>
                 <li>Descuentos en conferncias, cursos y otros eventos académicos.</li>
                 
             </ul>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Beneficios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class ="container">
            <h2> EN CONSTRUCCIÓN</h2>
         </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="membresia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">MEMBRESÍAS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container text-center">
          <h3>Precios</h3>
           <h4>Escoje el tipo de membresía de tu preferencia.</h4>
           <br>
               <div class="card-deck">
                     <div class="card">    
                        <div class="card-body ">
                           <h4 class="card-title">Licenciatura</h4>
                           <br>
                           <h5>20 Lorem</h5>
                           <br>
                           <h5>15 Ipsum </h5>
                           <br>
                           <h5>5 Dolor </h5>
                           <br>
                           <h5>2 Sit </h5>
                           <br>
                           <h5>Endless Amet</h5>
                           <br>
                           <br>
                           <h4>$250.00 Pesos Mexicanos Anuales</h4>
                           
                           <div class="card bg-dark mb-3 mt-5" style="max-width: 10rem;">
                              <button type="button" class="btn btn-dark" >Registrarse</button>
                           </div>
                        </div>
                     </div>
                     <div class="card">                        
                        <div class="card-body">
                           <h4 class="card-title">Posgrados</h4>
                           <br>
                           <h5>20 Lorem</h5>
                           <br>
                           <h5>15 Ipsum </h5>
                           <br>
                           <h5>5 Dolor </h5>
                           <br>
                           <h5>2 Sit </h5>
                           <br>
                           <h5>Endless Amet</h5>
                           <br>
                           <br>
                           <h4>$250.00 Pesos Mexicanos Anuales</h4>
                           
                           <div class="card bg-dark mb-3 mt-5" style="max-width: 10rem;">
                              <button type="button" class="btn btn-dark" >Registrarse</button>
                           </div>
                        
                        </div>
                     </div>

                     <div class="card">                        
                        <div class="card-body">
                          <h6 class="card-title">Docentes o Investigadores</h6>
                           <br>
                           <h5>20 Lorem</h5>
                           <br>
                           <h5>15 Ipsum </h5>
                           <br>
                           <h5>5 Dolor </h5>
                           <br>
                           <h5>2 Sit </h5>
                           <br>
                           <h5>Endless Amet</h5>
                           <br>
                           <br>
                           <h4>$250.00 Pesos Mexicanos Anuales</h4>
                           
                           <div class="card bg-dark mb-3 mt-5" style="max-width: 10rem;">
                              <button type="button" class="btn btn-dark" >Registrarse</button>
                           </div>
                        </div>
                     </div>
               </div> 
          </div>
      </div>
    </div>
  </div>
</div>



