<h1 style="text-align:center"> Sobre Nosotros</h1>

<div class="card-deck">
  <div class="card border-dark  bg-dark mb-3 mt-2" style="max-width: 21rem;">
    <div class="card-body text-white">
      <h5 class="card-title text-center mb-4">HISTORIA</h5>
      <p class="card-text text-justify">
        La Asociación Latinoamericana de Desarrollo Sustentable y Energías Renovables A.C.,
        fue creada por expertos para encauzar los esfuerzos de diversos sectores de la sociedad
        hacia un mejor desarrollo y utilización de las energías renovables y ampliando su ámbito
        de influencia hacia el desarrollo sustentable, aprovechando las fortalezas que ofrece la
        multidisciplinariedad y la diversidad de problemáticas de diferentes regiones de México y
        Latinoamérica.
      </p>
    </div>
  </div>

  <div class="card border-dark  bg-dark mb-3 mt-2" style="max-width: 21rem;">
    <div class="card-body text-white">
      <h5 class="card-title text-center mb-4">MISIÓN</h5>
      <p class="card-text text-justify">
        La misión de la Asociación consiste en orientar los esfuerzos de profesionistas y personas
        relacionadas o que tengan interés por los temas de desarrollo sustentable y el uso adecuado
        de las energías renovables con la finalidad de avanzar de forma conjunta con otras asociaciones,
        gobiernos municipales, estatales y federales, empresas de México y Latinoamérica.

        Para cumplir con esta misión se plantea la creación de plataformas de vinculación de los socios
        utilizando medios de comunicación remota, la implementación de foros en forma: de congresos, cursos
        y publicación de memorias y revistas.
      </p>
    </div>
  </div>

  <div class="card border-dark  bg-dark mb-3 mt-2" style="max-width: 21rem;">
    <div class="card-body text-white">
      <h5 class="card-title text-center mb-4">VISIÓN</h5>
      <p class="card-text text-justify">
        La visión de la Asociación es crear en conjunto con sus socios, una agrupación líder en México y
        Latinoamérica en los temas de desarrollo sustentable y energías renovables, que sea portavoz de las
        inquietudes y posibles soluciones de las problemáticas que en estos temas aquejan a esta zona del
        Mundo. Los socios tendrán la oportunidad de aportar soluciones y a su vez beneficiarse de los
        mecanismos que implementará la asociación para crecer profesionalmente e involucrarse de manera
        eficiente a través de la vinculación con expertos dispuestos a compartir sus experiencias.

      </p>
    </div>
  </div>

</div>